.toy-filter {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.toy-filter form {
    margin: auto;
    display: flex;
    gap: .8rem;
    justify-content: space-between;
    align-items: center;

}

.toy-filter form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.toy-filter form input,
.toy-filter form .select {
    height: 30px;
}

.toy-filter .react-select {
    width: 200px;
}