.main-layout {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);

    > * {
        grid-column: 2;
    }

    > .full {
        grid-column: 1 / -1;
    }
}
